html,
body {
position: absolute;
align-content: center; 
bottom: 0;
top: 0;
left: 0;
right: 0;
}


/* Estilo en blanco y negro para la página de creación de grupo */
.group-creation-page {
    background-color: #ffffff;
    padding: 40px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #d0d0d0; /* Borde gris claro */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding-right: 10px;
    overflow: hidden; 
  }
  
  .group-creation-page h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000; /* Texto negro */
  }
  
  .group-creation-page input {
    width: 350px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #000000;
  }
  .group-creation-page select {
    width: 375px;
    padding: 12px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #000000;
    margin-bottom: 20px;
  }
  .group-creation-page button {
    background-color: #000000; /* Botón negro */
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .group-creation-page button:hover {
    background-color: #333333; /* Negro más claro en hover */
  }
  
  .image-preview {
    margin-top: 20px;
  }
  
  .image-preview img {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
  }
  