.infocontent{
    display: flex;
    justify-content: center;
    margin-top: 10PX;    
}
.informationcontent{
    width: 430px;
    height: 410px;
    background-color: rgb(201, 196, 196);
    padding: 10px;  
   border-radius: 15px; 
}
.informationtext{
    padding: 10px;
}
.informationtext p{
    height: 30px;
    align-content: center;
    padding-left: 10px;
    background-color: white;
    border-radius:10px ;
}
.informationtext text{
    padding-left: 10px;
}
.editinfo{
    display: flex;
    background-color: black;
    justify-content: flex-end;
    border-radius: 10px;
}
.editinfo Button{
    background-color: black;
    color: white ;
    border-radius: 7px;
}