.wall {
    padding: 10px;
}

.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.post-header {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info {
    width: 300px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info h3 {
    margin: 0;
}

.post-content {
    margin-bottom: 10px;
}

.post-actions button {
    margin-right: 5px;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.post-actions button:hover {
    background-color: #365899;
}

.comments {
    margin-top: 10px;
}

.comments form {
    display: flex;
}

.comments input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comments button {
    background-color: #427771;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.comments button:hover {
    background-color: #365899;
}
