.publication {
    position: relative;
    background-color: #000000;
    border-top: 1px solid rgb(47, 51, 54);
    padding: 10px;
}
    
#publicfeed {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional, para un efecto de sombra */
    width: 100%;
    /* Cambia el tamaño a 100% para ajustarse al contenedor */

    
}
.postInfo{
    display: flex;
    gap:10px;
}
#profilepublic {
    background-color: antiquewhite;
    height: 50px;
    border-radius: 100%;
    width: 50px;
    object-fit: cover;

}

.namepublic {
    left: 70px;
    width: 200px;
    align-content: center;
    color: rgb(254, 254, 254);
}

#publicfeed {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

#imgfeed {
    width: 500px;
    height: auto;
    margin: auto 90px;
    border-radius:20px;
}

.showcomments {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.comments {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 7px;
    position: relative;
    border-top: 1px solid white;
    /* Para dar espacio entre los comentarios */
    transition: max-height 3s ease; /* Transición suave para la altura máxima */
    overflow: hidden; /* Asegura que el contenido oculto no sea visible */
}
.comments.show {
    max-height: 300px; /* Ajusta según el contenido */
}
.comments.hide {
    max-height: 0; /* Oculta el contenido */
}

.separatorcoment {
    border: none;
    border-top: 2px solid rgb(10, 10, 10);
    /* Cambia el color y grosor */
    margin: 5px 0;
    /* Ajusta el espacio alrededor del separador */
}

.contentcomment {
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    display: flex;
}

#iconcomment {
    color:white;
    position: relative;
}

#sendicon{
    align-items: center;
}

/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    #publicfeed {
        background-color: rgb(0, 0, 0);
        padding: 0px;
        padding-top: 5px;
    }
    
    #imgfeed {
        width: 70%;  
        margin: auto 60px;
    }
  }