
.moreinformation {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 60px;
}

.posts {
    width: 100%;
    
}
.contentinfo {
    width: 100%;
}