html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 1600px;
    background-color: white;
    /*overflow: hidden;  Prevenir scroll en el cuerpo */
}
  
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Distribución de columnas */
    height: 100vh; /* Altura completa de la ventana */
}

.section {
    padding: 20px 75px 20px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: auto;
}

.static {
    position: fixed; /* Secciones laterales fijadas */
    top: 0;
    bottom: 0;
    background-color: #BD371A;
    overflow-y: hidden; /* Sin scroll en las secciones laterales */
}
  
.static:first-of-type {
    left: 0;
    width: 20%; /* Ancho de la sección izquierda */
}
  
.static:last-of-type {
    right: 0;
    width: 20%; /* Ancho de la sección derecha */
}

.scrollable {
    margin-left: 20%;
    margin-right: 20%;

    background-color: white;
    position: absolute;
    height: 100%; /* Asegura que la sección central ocupe la altura completa */
}
  
.scrollable img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor  */
}
  